@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">一拍</h3>
                </div>
                <div class="panel-body">
                    @for(img in itemImg){
                    <img src="${ctxPath}/activityDetails/loadImg?path=worksdetail&filename=${img.detailImg}">
                    <br/>
                    @}
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item"><strong>作品名称：</strong>${item.worksTitle}</li>
                    <li class="list-group-item"><strong>拍摄时间：</strong>${item.pohtoTime,dateFormat="yyyy-MM-dd"}</li>
                    <li class="list-group-item"><strong>拍摄地点：</strong>${item.address}&nbsp;${item.weather}</li>
                    <li class="list-group-item"><strong>拍摄作者：</strong>${item.takenAuthor}</li>
                    <li class="list-group-item"><strong>拍摄工具：</strong>${item.takenTool}</li>
                </ul>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">二记</h3>
                </div>
                <div class="panel-body">
                    ${item.content}
                </div>

            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">三问</h3>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">${item.answerOne}</li>
                    @if(isNotEmpty(item.answerTwo)){
                    <li class="list-group-item">${item.answerTwo}</li>
                    @}
                    @if(isNotEmpty(item.answerThree)){
                    <li class="list-group-item">${item.answerThree}</li>
                    @}
                    @if(isNotEmpty(item.answerFour)){
                    <li class="list-group-item">${item.answerFour}</li>
                    @}
                    @if(isNotEmpty(item.answerFive)){
                    <li class="list-group-item">${item.answerFive}</li>
                    @}
                    @if(isNotEmpty(item.answerSix)){
                    <li class="list-group-item">${item.answerSix}</li>
                    @}
                </ul>
            </div>

            <!--<#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>-->
            <!--<#input id="worksTitle" name="作品名称" value="${item.worksTitle}" underline="true"/>-->
            <!--<#input id="imgRemark" name="图片说明" value="${item.imgRemark}" />-->
        </div>

    </div>
</div>
@}
