@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <input class="form-control" type="hidden" id="id" name="id" value="${item.id}">
                    <#input id="title" name="标题" value="${item.title}" underline="true"/>
                    <#input id="img" name="图片" value="${item.img}" underline="true"/>
                    <#textarea id="content" name="内容" value="${item.content}" underline="true"/>
                    <#TimeCon id="beginTime" name="开始时间" value="${item.beginTime}" isTime="false" pattern="YYYY-MM-DD"/>
                </div>

                <div class="col-sm-6">
                    <#input id="activityState" name="状态" underline="true" value="${item.activityState}"/>
                    <#input id="userNumber" name="参加人数" value="${item.userNumber}" underline="true"/>
                    <#TimeCon id="endTime" name="结束时间" isTime="false" pattern="YYYY-MM-DD" value="${item.endTime}" underline="true"/>
                    <#input id="state" name="发布状态" value="${item.state}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ActivityDetailsInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ActivityDetailsInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/activity/activityDetails/activityDetails_info.js"></script>
<script>
    laydate.render({
        elem: '#beginTime'
    });
    laydate.render({
        elem: '#endTime'
    });
</script>
@}
