@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <input class="form-control" type="hidden" id="id" name="id" value="${item.id}">
                    <#input id="title" name="标题" value="${item.title}" underline="true"/>
                    <#fileinput id="img" name="图片" path="activity"  value="${item.img}" />
                </div>

                <div class="col-sm-6">
                    <#input id="state" name="是否发布" type="checkbox" value="${item.state}" style="height:inherit;width:50px" underline="true"/>
                    <#TimeCon id="beginTime" name="开始时间" isTime="false" pattern="YYYY-MM-DD" value="${item.beginTime}" underline="true"/>
                    <#TimeCon id="endTime" name="结束时间" isTime="false" pattern="YYYY-MM-DD" value="${item.endTime}" underline="true"/>
                    <#textarea id="content" name="内容"  value="${item.content}"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ActivityDetailsInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ActivityDetailsInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<link href="${ctxPath}/static/css/plugins/bootstrap-fileinput.css" rel="stylesheet">
<script src="${ctxPath}/static/modular/activity/activityDetails/activityDetails_info.js"></script>
<script src="${ctxPath}/static/js/plugins/bootstrap-fileinput.js"></script>
<script>
    laydate.render({
        elem: '#beginTime'
    });
    laydate.render({
        elem: '#endTime'
    });
</script>
@}
