<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.WorksImgDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.WorksImgDetails">
        <id column="id" property="id" />
        <result column="works_details_id" property="worksDetailsId" />
        <result column="detail_index" property="detailIndex" />
        <result column="detail_img" property="detailImg" />
        <result column="remark" property="remark" />
        <result column="img_point" property="imgPoint" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, works_details_id, detail_index, detail_img, remark, img_point
    </sql>

</mapper>
