<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上传作品</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="${ctxPath}/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="${ctxPath}/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${ctxPath}/static/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="${ctxPath}/static/css/weChat/util.css">
    <link rel="stylesheet" type="text/css" href="${ctxPath}/static/css/weChat/main.css">
    <!-- 全局js -->
    <script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="${ctxPath}/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="${ctxPath}/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
</head>
<body>
<form action="#">
<div id="div1">
    <table class="table">
       <a onclick="chooseImage()">再来一张</a>
    </table>

</div>
</form>
<script src="${ctxPath}/static/js/weChat/addWork.js"></script>
</body>
</html>